## C++ #########################################################################

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/*
*.cache
# result/*
*.pyc

# Keep the benchmark data and coefficient image needed to reproduce report.pdf;
# ignore all other generated experiment output.
result/*
!result/benchmark_results.csv
!result/plots/
result/plots/*
!result/plots/mu.png
output/
*.vtu
*.pvtu
*.pvd

## LaTeX ######################################################################
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz


requirements-presentation.txt
scripts/*